body{
  margin: 0 auto;
  background-color: rgb(90, 90, 90);
}

div{
  width: 950px;
  height: 850px;
  margin-left: 250px;
  opacity: 0.6;
  margin-bottom: 50px;
}

div h3{
  text-align: center;
  color: white;
  font-family: sans-serif;
}

div #druckRecord{
  height: 270px;
  width: 890px;
  border-radius: 15px 50px 30px;
  background-color: black;
  margin-left: 30px;
  margin-top: 250px;
  text-align: center;
  margin-top: 30px;
  color: white;
}

div #druckDiagram{
  height: 510px;
  width: 890px;
  border-radius: 15px 50px 30px;
  background-color: black;
  margin-left: 30px;
  margin-top: 250px;
  text-align: center;
  margin-top: 30px;
  color: white;
}

div #druckDiagram #diagramm{
  width: 830px;
  height: 415px;
  margin-left: 30px;
  margin-top: 0px;
  opacity: 1;
  text-align: left;
}

div #druckDiagram  #diagramm #line-graph{
  background-color: white;
  margin-top: 20px;
  margin-left: 0px;
}

div #druckDiagram label{
  font-family: monospace;
  font-size: 15px;
}

div #druckDiagram .title{
  font-family: sans-serif;
  font-size: 20px;
}

div #druckDiagram label{
  font-family: monospace;
  font-size: 15px;
}

div #druckRecord .title{
  font-family: sans-serif;
  font-size: 20px;
}

div #druckRecord table{
  border-collapse: collapse;
  text-align: left;
  width: 830px;
  margin-left: 30px;
  margin-top: 10px;
}

div #druckRecord th{
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

div #druckRecord td{
  border: 1px solid #ddd;
  text-align: left;
  padding: 7px;
}
